* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #023047;
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 15px;
    text-decoration: none;
    font-size: 18px;
}

.nav a:hover {
    background-color: rgb(146, 175, 255);
    color: black;
    transition: 0.5s;
}

.nav a:not(hover) {
    transition: 0.5s;
}


img {
    width: 70px;
    height: 70px;
    float: left;
    padding: 8px;
    margin: auto;
}


footer {
    bottom: 0;
    width: 100%;
    text-align: center;
}